  <div class="input-group" ng-if="item">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input" ng-model="item.isDone">
      </div>
    </div>
    <input type="text" class="item form-control" placeholder="Task" aria-describedby="button-addon4"
      ng-model="item.name" ng-readonly="item.isDone" ng-class="{'task-done': item.isDone}">
    <div class="input-group-append">
      <button class="btn btn-outline-danger" type="button" ng-click="delete({index: itemIndex})">Delete</button>
    </div>
    <div class="input-group-append">
      <button class="btn btn-outline-info" type="button" ng-if="!item.isArchived" ng-click="archive({index: itemIndex})">Archive</button>
    </div>
  </divi>